.about-us .card .card-title.black-text {
    font-size: 2.2rem !important;
    font-weight: 600 !important;

}

.about-us .card .card-Para {
    font-size: .9rem !important;
    color: var(--secondary-color) !important;
    font-weight: 300 !important;
}

.about-us .aboutCardtextStyle {
    font-size: 1.2rem !important;
}