nav a:hover {
    color: var(--primary-color) !important;
}

nav a.active {
    color: var(--primary-color) !important;
}

nav img {
    max-height: 36px;
}

nav .navBtn {
    font-size: .9rem !important;
    padding-inline: 10px !important;
    padding-block: 8px !important;
}