.accordion-button {
    background-color: var(--primary-color) !important;
    color: var(--body-color) !important;
}

.accordion-button.collapsed {
    background-color: var(--body-color) !important;
    color: var(--black-text )!important;
}